<div class="container-fluid">
  <h1 class="">Beleza InHouse</h1>
  <p>
    Bem vindo ao Beleza InHouse!! Tenha todos os serviços de beleza que
    oferecemos em um salão mais próximo de você. Ou dentro da sua casa!! Aqui
    você tem a opção de aproveitar toda a estrutura e um salão de beleza
    completo, ou nos deixar levar o essencial até você! Imagine você poder se
    embelezar sem precisar sair do conforto da sua casa... Gostou da ideia?
    Faça-nos uma visita, ou nos convide para que façamos uma a você!!
  </p>
  <a [routerLink]="'/services'">Conheça nossos serviços</a>
</div>
