<section class="section" id="contacts">
  <div class="section-content container">
    <div class="row">
      <div class="col-12 col-lg-8 mb-14 mb-lg-0">
        <h1>Fale conosco</h1>
        <form action="#" class="row mt-17">
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="first_name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="first_name" />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="last_name" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="last_name" />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="phone" class="form-label">Celular</label>
              <input
                type="phone"
                class="form-control"
                id="phone"
                onkeypress="$(this).mask('(00) 0000-00009')"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="message" class="form-label">Mensagem</label>
              <textarea id="message" class="form-control" rows="3"></textarea>
            </div>
            <br />
            <div class="form-group mb-0">
              <button class="btn btn-primary btn-lg">Enviar mensagem</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card border-0 bg-info mb-4 ml-lg-9">
          <div class="card-body py-17 px-10 text-center">
            <p class="mb-1 text-body">Nosso endereço</p>
            <p class="mb-0 text-body">
              Al. Rio Negro, 500 - Alphaville Industrial <br />
              Barueri - SP, 06454-010
            </p>
          </div>
        </div>
        <div class="card border-0 bg-info mb-4 ml-lg-9">
          <div class="card-body py-17 px-10 text-center">
            <p class="mb-1 text-body">Nosso telefone</p>
            <p class="mb-0 text-body">(11) 2176-3253</p>
          </div>
        </div>
        <div class="card border-0 bg-info ml-lg-9">
          <div class="card-body py-17 px-10 text-center">
            <p class="mb-2 text-body">Horário de funcionamento</p>
            <p class="mb-0 text-body">
              Segunda à sexta <br />
              08:00 às 18:00
            </p>
            <br />
            <p class="mb-0 text-body">
              Sábado <br />
              08:00 às 14:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
