<p><h1>Bem Vindo  {{ name }},</h1></p>

<p>Seu cadastro foi realizado com sucesso, fique a vontade para navegar em nosso site e utilizar os nossos recursos</p>

<p>Beleza-In-Home agradece o seu acesso</p>