<mat-card class="example-card">
  <mat-card-title color="primary">Bem vinda, Aline Sanches</mat-card-title>

  <mat-card-content>
    <p>Aqui estão suas informações</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Atualizar informações</button>
  </mat-card-actions>
  <mat-card-content>
    <p>Aqui estão seus agendamentos</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Realizar novo agendamento</button>
    <button mat-button>Excluir agendamento</button>
  </mat-card-actions>
</mat-card>
