<header class="p-3 mb-3 border-bottom">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a [routerLink]="'/'" class="nav-link px-2 link-dark"
            >Beleza InHouse</a
          >
        </li>

        <li>
          <a [routerLink]="'/services'" class="nav-link px-2 link-dark"
            >Serviços</a
          >
        </li>
        <li>
          <a [routerLink]="'/schedule'" class="nav-link px-2 link-dark"
            >Agendamento</a
          >
        </li>
        <li>
          <a [routerLink]="'/contact'" class="nav-link px-2 link-dark"
            >Contato</a
          >
        </li>
        <li>
          <a [routerLink]="'/login'" class="nav-link px-2 link-dark">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
