<div class="container" style="width: 70%">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h1>Faça seu cadastro</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
      <div class="col-sm-5">
        <input
          matInput
          type="text"
          class="form-control"
          onkeypress="$(this).mask('000.000.000-00');"
          formControlName="cpf"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Nome completo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Celular</label>
      <div class="col-sm-10">
        <input
          type="tel"
          class="form-control"
          formControlName="phone"
          onkeypress="$(this).mask('(00)00000-0000');"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input
          matInput
          type="email"
          class="form-control"
          formControlName="email"
          [errorStateMatcher]="matcher"
          placeholder="Exemplo. pat@exemplo.com"
        />
        <mat-error
          *ngIf="
            form.get('email')!.hasError('email') &&
            !form.get('email')!.hasError('required')
          "
          >Por favor informe um e-mail válido.</mat-error
        >
        <mat-error *ngIf="form.get('email')!.hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Senha</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="reset" class="btn btn-secondary">Limpar</button>
  </form>
</div>
