<main>
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Serviços</h1>
        <p class="lead text-muted">
          Aqui estão alguns dos nossos serviços prestados na sua casa.
        </p>
      </div>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Adicionar um novo serviço </mat-panel-title>
            <mat-panel-description>
              Clique aqui para adicionar um novo serviço
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <form [formGroup]="form">
              <label for="name">Nome do serviço:</label>
              <input type="text" #name />
              <label for="description">Descrição do serviço:</label>
              <input type="text" #description />
              <button
                type="submit"
                mat-raised-button
                color="accent"
                (click)="addHairJob(name.value, description.value)"
              >
                Salvar
              </button>
              <button type="reset" mat-raised-button (click)="clearInput()">
                Limpar
              </button>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let hairJob of hairServices">
          <div class="card shadow-sm">
            <div class="card-body">
              <h3>{{ hairJob.name }}</h3>
              <p class="card-text">
                {{ hairJob.description }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="deleteHairJob(hairJob)"
                  >
                    Excluir
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
